<launch>
    <!-- Lanzar selector.launch -->
    <include file="$(find object_detection_mission)/launch/mapa.launch"/>
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/> 

    <!-- Especifica el archivo del mapa que deseas usar -->
    <arg name="map_file" default="$(find object_detection_mission)/worlds/map.yaml"/>

    <!-- Nodo AMCL para localización -->
    <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <!-- Añadir los objetos -->
    <node name="spawn_object_1" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file /home/franciscocj/.gazebo/models/first_2015_trash_can/model.sdf -model first_2015_trash_can -x 0 -y 3 -z 0 -R 0 -P 0 -Y 0"/>

    <!-- <node name="spawn_object_2" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file /home/hp/.gazebo/models/sphere/model.sdf -model sphere_1 -x -2 -y -1 -z 0.5 -R 0 -P 0 -Y 0"/> -->
</launch>
